---
---

@import "/assets/stylesheets/base";


@mixin border-radius ($radii) {
  -webkit-border-radius: $radii;
     -moz-border-radius: $radii;
      -ms-border-radius: $radii;
       -o-border-radius: $radii;
          border-radius: $radii;
}

@mixin box-shadow ($shadow-1,
  $shadow-2: false, $shadow-3: false,
  $shadow-4: false, $shadow-5: false,
  $shadow-6: false, $shadow-7: false,
  $shadow-8: false, $shadow-9: false)
  {
    $full: compact($shadow-1, $shadow-2, $shadow-3, $shadow-4,
                   $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9);
  -webkit-box-shadow: $full;
     -moz-box-shadow: $full;
      -ms-box-shadow: $full;
       -o-box-shadow: $full;
          box-shadow: $full;
}

// palatte
$color-01: #BF2F46;
$color-02: #85D7C1;
$color-03: #745C66;
$color-04: #9CCFDB;


body {
  font-family: 'Varela Round', sans-serif;
  background: #fff;
  color: #36393B;
  text-rendering: optimizeLegibility;
  border-top: 4px solid #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kreon', serif;
  font-weight: 700;
}

h1 {
  font-size: 320%;
  font-weight: 900;
}

#header {
  padding: 40px 0 10px;
  margin-bottom: 50px;
  border-bottom: 2px dotted #ddd;
  
  h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    line-height: 28px;
    padding-top: 3px;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: saturate($color-01, 50%);
        text-decoration: none;
      }
    }
  }
  
  #portrait {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    @include border-radius(4px);
    @include box-shadow(0px 0px 3px rgba(0,0,0,0.3));
  }
  
  h5 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: $color-01;
  }
  
  a {
    color: darken($color-02, 20%);
    text-decoration: none;
    
    &:hover {
      color: darken($color-02, 50%);
      text-decoration: underline;
    }
  }
  
  nav {
    padding-top: 4px;
  }
  
  #also_nav {
    li {
      float: left;
      width: 135px;
    }
  }
}


#footer {
  margin-top: 30px;
  border-top: 3px dotted #eee;
  padding-top: 30px;
  font-size: 11px;
  
  h6 {
    font-size: 160%;
    margin-bottom: 15px;
    color: #666;
  }
  
  ul {
    margin-left: 0px;
    li {
      list-style: none;
      margin: 0 0 7px 0;
    }
  }
  a {
    color: $color-03;
    &:hover {
      color: darken($color-03, 40%);
    }
  }
  
  .copyright {
    margin-top: 20px;
    border-top: 3px dotted #eee;
    padding-top: 20px;
  }
}

.tweet_time {
  font-size: 90%;
  a {
    color: #999;
    text-decoration: none;
  }
}

article.post {
  time {
    display: block;
    margin-top: 12px;
    background: lighten($color-04, 15%);
    padding: 5px;
    text-align: center;
    font-size: 90%;
    margin-bottom: 20px;
    @include border-radius(8px);
    
    .list & {
      margin-bottom: 0;
      margin-top: 3px;
      font-size: 11px;
      padding: 3px;
    }
  }
  
  .previous, .next {
    font-size: 90%;
    padding: 10px;
    strong {
      display: block;
    }
  }
  
  h1 {
    a {
      color: #000;
      text-decoration: none;
    }
  }
  
  .list & h2 {
    font-size: 180%;
    margin-bottom: 5px;
    a {
      color: darken($color-04, 40%);
      text-decoration: none;
    }
  }
  
  a {
    color: saturate($color-01, 50%);
    &:hover {
      text-decoration: none;
    }
  }
}

.meta {
  margin-top: 20px;
  a {
    color: $color-01;
    &:hover {
      text-decoration: none;
    }
  }
}


// syntax

code {
  font-family: Consolas, Monaco,"Lucida Console";
  background: #eee;
  padding: 4px 3px;
  @include border-radius(5px);
}

.highlight {
  background: #fafafa;
  color: #000;
  font-family: Consolas, Monaco,"Lucida Console";
  border: 1px solid #eee;
  margin-bottom: 20px;
  font-size: 90%;
  @include border-radius(5px);
  pre { margin: 0; }
  
  code {
    padding: 0;
    background: transparent;
    .err {
      color:#a61717;
      background-color:#e3d2d2;
    }
    .cp {
      color:#999;
      font-weight:700;
    }
    .cs {
      color:#999;
      font-weight:700;
      font-style:italic;
    }
    .gd {
      color:#000;
      background-color:#fdd;
    }
    .gd .x {
      color:#000;
      background-color:#faa;
    }
    .ge {
      font-style:italic;
    }
    .gi {
      color:#000;
      background-color:#dfd;
    }
    .gi .x {
      color:#000;
      background-color:#afa;
    }
    .go {
      color:#888;
    }
    .gu {
      color:#aaa;
    }
    .nb {
      color:#0086b3;
    }
    .ni {
      color:purple;
    }
    .nt {
      color:navy;
    }
    .w {
      color:#bbb;
    }
    .sr {
      color:#009926;
    }
    .ss {
      color:#990073;
    }
    .c, .cm, .c1 {
      color:#998;
      font-style:italic;
    }
    .k, .o, .gs, .kc, .kd, .kp, .kr, .ow {
      font-weight:700;
    }
    .gr, .gt {
      color:#a00;
    }
    .gh, .bp {
      color:#999;
    }
    .gp, .nn {
      color:#555;
    }
    .kt, .nc {
      color:#458;
      font-weight:700;
    }
    .m, .mf, .mh, .mi, .mo, .il {
      color:#099;
    }
    .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
      color:#d14;
    }
    .na, .no, .nv, .vc, .vg, .vi {
      color:teal;
    }
    .ne, .nf {
      color:#900;
      font-weight:700;
    }
  }
}